<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <span>imovel - Editar</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="loading-shade" *ngIf="!imovel?.id">
    <mat-spinner></mat-spinner>
</div>
<form [formGroup]="formGroup" style="height: 100%" (ngSubmit)="formGroup.valid && atualizar()" novalidate>

    <app-imovel-form *ngIf="imovel?.id" (excluir)="excluir()" [criando]="false" [formGroup]="formGroup"></app-imovel-form>

</form>