<mat-grid-list cols="3" style="height: 100%" rowHeight="fit">
    <mat-grid-tile >
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <div [formGroup]="formGroup" class="form">
                            <mat-form-field class="form-campo">
                                <input matInput placeholder="Selecione um Territorio" [matAutocomplete]="auto1"
                                    formControlName='territorio' (blur)="checarSelecaoTerritorio()">
                                    <button matSuffix mat-icon-button>
                                            <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                <mat-autocomplete #auto1="matAutocomplete" [displayWith]="formatarExibicaoTerritorio"
                                    (optionSelected)="selecionarTerritorio($event)">
                                    <mat-option *ngIf="carregandoPesquisaTerritorio" class="is-loading">
                                        <mat-spinner diameter="50"></mat-spinner>
                                    </mat-option>
                                    <ng-container *ngIf="!carregandoPesquisaTerritorio">
                                        <mat-option *ngFor="let territorio of (resultadoPesquisaTerritorio)" [value]="territorio">
                                            <span>{{ territorio.territorioPai ? 
                                                territorio.nome +', '+ territorio.territorioPai.nome 
                                                : territorio.nome }}</span>
                
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>

                            <mat-form-field class="form-campo">
                                    <input matInput placeholder="Tipo do Imóvel" [matAutocomplete]="auto3" formControlName='tipoImovel'
                                        (blur)="checarSelecaoTipoImovel()" required>
                                        <button type="button" matSuffix mat-icon-button>
                                                <mat-icon>arrow_drop_down</mat-icon>
                                        </button>
                                    <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFnTipoImovel"
                                        (optionSelected)="selecionarTipoImovel($event)">
                                        <mat-option *ngIf="isLoadingTipoImovel" class="is-loading">
                                            <mat-spinner diameter="50"></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoadingTipoImovel">
                                            <mat-option *ngFor="let tipoImovel of (tipoImoveisFiltrados)" [value]="tipoImovel">
                                                <span>{{ tipoImovel.nome }}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                        <mat-form-field class="form-campo" style="display: block">
                            <input matInput placeholder="Logradouro" formControlName="logradouro" required>
                            <mat-error>Campo é obrigatório</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="CEP" formControlName="cep" required>
                            <mat-error>Campo é obrigatório</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-campo" style="display: block">
                            <input matInput placeholder="Numero" formControlName="numero">
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="Complemento" formControlName="complemento">
                            <mat-error>Campo é obrigatório</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="Sequencia" formControlName="sequencia">
                        </mat-form-field>
                        
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="Numero do Quarteirão" formControlName="numQuarteirao">
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="Lado do Quarteirão" formControlName="ladoQuarteirao">
                        </mat-form-field>
                        <mat-form-field class="form-campo">
                            <input matInput placeholder="Polígono" formControlName="poligono" [readonly]="true" required>
                            <mat-error>Campo é obrigatório</mat-error>
                        </mat-form-field>
                        <button mat-raised-button type="button" (click)="criarPoligono()">Criar Polígono</button>
            
                        <div class="linha-botoes">
                            <button mat-raised-button color="primary"
                                [disabled]="!formGroup.valid">{{criando ? 'Criar' : 'Alterar'}}</button>
                            <button type="button" *ngIf="!criando" mat-raised-button color="warn"
                                (click)="excluir.emit('excluir')">Excluir</button>
                            <button type="button" mat-raised-button color="warn" routerLink="/imoveis">{{criando ? 'Voltar' : 'Cancelar'}}</button>
                        </div>
                    </div>
        </cdk-virtual-scroll-viewport>

    </mat-grid-tile>
    <mat-grid-tile class="mapa" [colspan]="2">
        <app-mapa-dinamico #mapa (polygonOut)="tratarPoligonoCriado($event)"
            [polygonRelatedIn]="imoveisIrmaos"
            [polygonParentIn]="territorio"
            [NamePolygonIn]="this.formGroup.controls['numero'].value"
            [polygonIn]="this.formGroup.controls['poligono'].value" id="mapaDinamico">
        </app-mapa-dinamico>
    </mat-grid-tile>
</mat-grid-list>