<div [formGroup]="formGroup">
    <mat-form-field class="form-campo">
        <input matInput placeholder="Nome" formControlName="nome" required>
        <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field class="form-campo">
        <textarea matInput placeholder="Descrição" formControlName="descricao"></textarea>
    </mat-form-field>
    
</div>