<div *ngIf="dado?.nome && item" class="dado">
    <span>Nome: {{dado.nome}}</span>
    <br>
    <span>Categoria: {{dado.categoria.nome}}</span>
    <br>
    <span>Habitantes: {{item?.reconhecimento?.conteudo.question1  }}</span>
    
     <br>
    <span>Famílias: {{item?.reconhecimento?.conteudo.question2  }}</span>
    <br>
    <span>Armadilhas Instaladas: {{item?.reconhecimento?.conteudo.question3 }}</span>
    <br>
    <span>Caixas D'agua desprotegidas: {{item?.reconhecimento?.conteudo.question5 }}</span>
    <br>
    <span>Outros depositos desprotegidos: {{item?.reconhecimento?.conteudo.question4 }}</span>
    <br>


</div>
<div *ngIf="dado && !dado.nome && item" class="dado">
    <span>Logradouro: {{dado.logradouro}}</span>
    <br>
    <span>Numero: {{dado.numero}}</span>
    <br>
    <span>Tipo: {{dado.tipoImovel.nome}}</span>
    <br>
    <span>Habitantes: {{item.reconhecimento?.conteudo.question1}}</span>
    <br>
    <span>Famílias: {{item.reconhecimento?.conteudo.question2}}</span>
    <br>
    <span>Armadilhas Instaladas: {{item.reconhecimento?.conteudo.question3}}</span>
    <br>
    <span>Caixas D'agua desprotegidas: {{item.reconhecimento?.conteudo.question5}}</span>
    <br>
    <span>Outros depositos desprotegidos: {{item.reconhecimento?.conteudo.question4}}</span>
    <br>


</div>
<div *ngIf="!item">
    <span>Não foi realizado nenhum reconhecimento nesse local.</span>
</div>