mat-grid-tile {
    display: block !important;
  }


  .mapa >::ng-deep .mat-figure{
    display: block;
    top:2px;
    left: 2px;
  }
  
  .example-viewport {
    height: 100%;
    width: 100%;
    border: 1px solid black;
  }

  .borda{
    border-bottom: 1px solid rgba(0,0,0,.12);
    
  }
  .tree{
    margin: 10px;
  }

  .example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: sticky;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .estatico {
    right: 0px;
    top: 20px;
    width: 5px;
    height : 5px;
    position: fixed !important;
    z-index: 1;
}
.dado{
}
.botao-fechar-popup{
  position: absolute;
  top: 0px;
  right: 0px;
  color: #ccc;
  
}