<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <span>Territorios</span>
        <span class="nav-spacer"></span>

    </mat-toolbar-row>
</mat-toolbar>
<div class="div-container">
    <div [formGroup]="formGroup">
        <mat-form-field class="form-campo">
            <input matInput placeholder="Filtrar por Territorio Superior" [matAutocomplete]="auto2" formControlName='territorioPai'
                (blur)="checarSelecaoTerritorioPai()">
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="formatarExibicaoTerritorioPai" (optionSelected)="selecionarTerritorioPai($event)">
                <mat-option *ngIf="carregandoPesquisaTerritorioPai" class="is-loading">
                    <mat-spinner diameter="50"></mat-spinner>
                </mat-option>
                <ng-container *ngIf="!carregandoPesquisaTerritorioPai">
                    <mat-option *ngFor="let territorioPai of (resultadoPesquisaTerritorioPai)" [value]="territorioPai">
                        <span>{{ territorioPai.nome }} </span>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field  class="form-campo">
            <input matInput [ngModel]="filtro" [ngModelOptions]="{standalone: true}" (keyup)="aoDigitarFiltroTabela($event.target.value)" placeholder="Filtrar pelo nome...">
        </mat-form-field>
       
    </div>
    <div class="linha-botoes">
        <button mat-raised-button color="primary" [disabled]="!territorioPaiSelecionada?.id && (filtro.length <= tamanhoMinimoTextoFiltro)" (click)="aplicarFiltroTabela()">Filtrar</button>
        <button mat-raised-button color="default" *ngIf="territorioPaiSelecionada?.id || (filtro.length > tamanhoMinimoTextoFiltro)" (click)="limparFiltroTabela()">
            Limpar Filtro
        </button>
    </div>

    <!-- Tabela -->
    
    <button class="fab" mat-fab color="primary" routerLink="/territorio-criar">
        <mat-icon>add</mat-icon>
    </button>
    <table style="margin-top:20px;" mat-table [dataSource]="dadosTabela" class="tabela" matSort matSortActive="created" matSortDisableClear
        matSortDirection="asc">

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let item"><a routerLink="/territorio-editar/{{item.id}}">{{item.nome}}</a></td>
        </ng-container>
        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let item"><a routerLink="/territorio-editar/{{item.id}}">{{item.categoria.nome}}</a></td>
        </ng-container>

        <ng-container matColumnDef="territorioPai">
            <th mat-header-cell *matHeaderCellDef>Territorio Superior</th>
            <td mat-cell *matCellDef="let item"><a routerLink="/territorio-editar/{{item.id}}">{{item.territorioPai?item.territorioPai.nome:'-'}}</a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
        <tr mat-row *matRowDef="let item; columns: colunasTabela;"></tr>
    </table>
    <div style="background-color: white" class="loading-shade" *ngIf="carregandoResultados">
        <mat-spinner></mat-spinner>
    </div>
    <div style="background-color: white; padding: 20px" *ngIf="!carregandoResultados && quantidadeRegistros == 0">
        Nenhum registro encontrado.
    </div>
    <mat-paginator [length]="quantidadeRegistros" [pageSize]="5" [pageSizeOptions]="[5, 10, 30]"></mat-paginator>
</div>