/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.linha-botoes button,
.linha-botoes a {
    margin-right: 8px;
}

.linha-botoes {
    padding-top: 20px
}
.form-campo {
    width: 100%;
}
.nav-spacer {
    flex: 1 1 auto;
}
.form {
    padding: 10px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.myGridList {
    height: 100%;
}

html, 
body  {
    height: 100%;
    margin: 0px;
    padding: 0px;
}


.spinner-container {
    text-align: center;
    margin: 0 auto;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}

.green-snackbar {
    background: rgb(67, 156, 106);
}

.red-snackbar {
    background: rgb(250, 84, 84);
}

.fab {
    right: 20px;
    bottom: 20px;
    position: fixed !important;
    z-index: 1;
}

.fab2 {
    right: 20px;
    bottom: 100px;
    position: fixed !important;
}

.tabela {
    width: 100%;
}

.div-container {
    margin:20px;
}