<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <span>Consolidar por Lista de Trabalho</span>
        <span class="nav-spacer"></span>

    </mat-toolbar-row>
</mat-toolbar>
<div [hidden]="mostrarRelatorio" class="div-container">
    <div [formGroup]="formGroup">
       
        <mat-form-field  class="form-campo">
            <input matInput [ngModel]="filtro" [ngModelOptions]="{standalone: true}" (keyup)="aoDigitarFiltroTabela($event.target.value)" placeholder="Filtrar pelo nome...">
        </mat-form-field>
       
    </div>
    <div class="linha-botoes">
        <button mat-raised-button color="primary" [disabled]="(filtro.length <= tamanhoMinimoTextoFiltro)" (click)="aplicarFiltroTabela()">Filtrar</button>
        <button mat-raised-button color="default" *ngIf="(filtro.length > tamanhoMinimoTextoFiltro)" (click)="limparFiltroTabela()">
            Limpar Filtro
        </button>
    </div>

    <!-- Tabela -->
    
   
    <table style="margin-top:20px;" mat-table [dataSource]="dadosTabela" class="tabela" matSort matSortActive="created" matSortDisableClear
        matSortDirection="asc">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selectionModel.hasValue() && todosElementosEstaoSelecionados()"
                [indeterminate]="selectionModel.hasValue() && !todosElementosEstaoSelecionados()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionModel.toggle(row) : null"
                [checked]="selectionModel.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

        <ng-container matColumnDef="listaDeTrabalho">
            <th mat-header-cell *matHeaderCellDef>Lista de Trabalho</th>
            <td mat-cell *matCellDef="let item">{{item.nome}}</td>
        </ng-container>
       

        <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
        <tr mat-row *matRowDef="let item; columns: colunasTabela;"></tr>
    </table>
    <div style="background-color: white" class="loading-shade" *ngIf="carregandoResultados">
        <mat-spinner></mat-spinner>
    </div>
    <div style="background-color: white; padding: 20px" *ngIf="!carregandoResultados && quantidadeRegistros == 0">
        Nenhum registro carregado.
    </div>
    <mat-paginator [length]="quantidadeRegistros" [pageSize]="5" [pageSizeOptions]="[5, 10, 30]"></mat-paginator>

    <div class="linha-botoes">
        <button mat-raised-button color="primary" [disabled]="!selectionModel.hasValue() "
          (click)="consolidar()">Consolidar Dados</button>
      </div>
</div>

<div *ngIf="mostrarRelatorio">
    <app-relatorio [listas]="this.selectionModel.selected"></app-relatorio>
</div>
<div class="linha-botoes">
    <button mat-raised-button color="secondary"
      (click)="voltar()">Voltar</button>
  </div>